input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
select {
  padding: 8px 6px;
  margin-top: 4px;

  border-radius: 8px;
  border: 1px solid var(--primary);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  /* appearance: none; */
  /* outline: 2px solid var(--primary-900); */

  /* border: 2px solid var(--primary-200); */

  /* &:focus { */
  /* outline: 1px solid var(--primary-800); */
  /* border: transparent; */
  /* } */
}

input[type="date"] {
  font-size: var(--font-xxsmall);
}

.input-container {
  position: relative;
  width: 100%;
}

.password-toggle {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 0.5rem;
  padding: 0.25rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 1.5cap;
  display: grid;
  place-items: center;
  color: var(--primary-500);

  &:hover {
    color: var(--primary);
  }
}

.text-input {
  display: flex;
  flex-direction: column;

  padding: 4px 0;
}

.text-input-paragraph {
  margin-left: 8px;
  font-size: var(--font-xxsmall);
  letter-spacing: 0.5px;
  color: var(--text-light);
}

label {
  font-size: var(--font-small);
  padding-left: 4px;

  display: inline-flex;
  align-items: center;
}

.input-error {
  border: 2px solid var(--error-base);
  outline: 1px solid white;
}
