.btn2-outline,
.btn2-secondary,
.btn2-cta {
  height: 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: capitalize;
  /* letter-spacing: 0.5px; */
  outline: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.125);
  display: grid;
  place-items: center;

  transition:
    box-shadow 0.25s ease,
    transform 0.25s ease;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  }

  &:active {
    transform: scale(0.975);
  }
}

.btn2-cta {
  border: 1px solid rgba(0, 0, 0, 0.125);

  background: linear-gradient(
    to bottom,
    var(--accent-100) 0%,
    var(--accent-300) 15%,
    var(--accent-400) 100%
  );

  &:hover {
    box-shadow: 0 1rem 2rem rgba(254, 237, 70, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.25);
  }

  &:disabled {
    cursor: not-allowed;
    background: rgba(254, 253, 195, 0.75);
    color: gray;
    box-shadow: none;

    &:hover {
      border: 1px solid gray;
      background: rgba(254, 253, 195, 0.75);
      color: gray;
    }
  }
}

.btn-big {
  padding: 1.5rem 3rem;
  font-weight: 600;
  display: inherit;
}

.btn2-secondary {
  border: 1px solid var(--accent-300);

  &:hover {
    box-shadow: 0 1rem 2rem rgba(254, 237, 70, 0.175);
  }
}

.btn2-outline {
  border: 1px solid rgba(255, 255, 255, 0.175);
  background-color: rgba(255, 255, 255, 0.075);
  background: linear-gradient(
    to bottom right,

    rgba(255, 255, 255, 0.175),
    rgba(255, 255, 255, 0.125),
    rgba(0, 0, 0, 0.175)
  );
  color: white;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &:disabled {
    cursor: not-allowed;
    border: 1px solid gray;

    background: rgba(255, 255, 255, 0.55);
    color: gray;
    box-shadow: none;

    &:hover {
      border: 1px solid gray;
      background: rgba(255, 255, 255, 0.55);

      color: gray;
    }
  }
}

.btn-font {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3px;
  font-weight: 500;
  font-size: 0.925rem;

  @media only screen and (max-width: 581px) {
    /* 4 grids */
    font-size: 0.925rem;
  }
}

.underline-hover {
  display: inline-block;
  position: relative;
}

.underline-hover:after {
  content: ""; /* Add content after the element */
  position: absolute; /* Position absolute for pseudo-element */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initial scale of 0 for underline effect */
  height: 1px; /* Height of the underline */
  bottom: -6px; /* Align to bottom */
  left: 0; /* Align to left */
  background-color: white; /* Background color of the underline */
  transform-origin: bottom right; /* Set transform origin */
  transition: transform 0.3s ease-out; /* Transition effect for the underline */
}

.underline-hover:hover:after {
  transform: scaleX(1); /* Scale the underline on hover */
  transform-origin: bottom left; /* Set transform origin */
}

.primary2 {
  color: #194149;
}

.secondary2 {
  color: #ae918f;
}

.accent2 {
  color: #fdc365;
}
