.bet-status-change {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  border-radius: 4px;
  width: 100%;
  display: flex;
}

.status-with-ball {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0 8px;
}

.bet-status-change-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    /* max-width: 5ch; */

    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.bet-status-change-options {
  position: absolute;
  top: 36px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(16px);

  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);

  width: 100%;
  min-width: max-content;
  z-index: 1;
}

.bet-status-options-list {
  padding: 8px;
  gap: 8px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.bet-status-ball {
  height: 1.5cap;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 8px;
}

.bet-status-lost {
  box-shadow: 0px 0px 8px var(--error-light);
  background-color: var(--error-base);
  border: 2px solid var(--error-light);
}

.bet-status-won {
  box-shadow: 0px 0px 8px var(--ok-light);
  background-color: var(--ok-base);
  border: 2px solid var(--ok-light);
}

.bet-status-void {
  box-shadow: 0px 0px 8px var(--warning-light);
  background-color: var(--warning-base);
  border: 2px solid var(--warning-light);
}

.bet-status-pending {
  box-shadow: 0px 0px 8px var(--info-light);
  background-color: var(--info-base);
  border: 2px solid var(--info-light);
}
