.nav-user-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1rem);

  /* width: 90%; */
  width: max-content;

  border-radius: 2rem;
  margin-top: 1vh;

  padding: 0.5rem 2rem;

  @media (width < 1180px) {
    width: 90%;
  }
}

.nav-menu {
  display: none;

  @media (width < 1180px) {
    display: block;
    border: 1px solid var(--primary-600);
    border-radius: 4px;
    overflow: hidden;
    width: 40px;
    aspect-ratio: 1/1;

    box-shadow: 0 0 8px hsla(228, 100%, 81%, 0.2);
    transition: box-shadow 0.1s ease-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 16px hsla(228, 100%, 81%, 0.4);
    }
  }
}

.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  background-color: transparent;
  cursor: pointer;
}

.nav-logo {
  display: none;

  @media (width < 1180px) {
    display: flex;
    gap: 1rem;

    & img:last-child {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

.none {
  display: none;
}

.nav-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  /* padding: 0 8px; */

  gap: 0.5rem;

  @media (width >= 1180px) {
    margin-left: auto;
    padding: 0.5rem 1rem;
  }
}

.nav-profile:has(:hover) .nav-profile-username,
.nav-profile:has(:hover) .caret-icon {
  color: var(--secondary-300);
  cursor: pointer;
}

.user-img-wrapper {
  display: flex;
  gap: 0.5rem;
}

.nav-profile-img {
  width: 40px;
  aspect-ratio: 1/1;

  border: 1px solid var(--background);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.user-menu-shadow {
  box-shadow:
    2px 2px 2px hsla(228, 100%, 81%, 0.1),
    -2px 2px 2px hsla(228, 100%, 81%, 0.1);
}

.user-menu {
  position: absolute;
  top: 60px;
  min-width: 10rem;
  width: 100%;
  background-color: var(--primary-700);
  backdrop-filter: blur(24px);

  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  font-size: var(--font-small);

  box-shadow: 0 0 2rem rgba(0, 0, 0, 1);

  /* border: none;
  border-bottom: 1px solid hsla(228, 100%, 81%, 0.5); */

  /* Add gradient borders on the sides */
  /* background-image: linear-gradient(
      to bottom,
      transparent 0%,
      hsla(228, 100%, 81%, 0.5) 100%
    ),
    linear-gradient(to bottom, transparent 0%, hsla(228, 100%, 81%, 0.5) 100%);
  background-position:
    0 0,
    100% 0;
  background-repeat: no-repeat;
  background-size: 1px 100%; */

  & li {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 16px;

    & a {
      width: 100%;
      height: 100%;
      display: flex;
    }
  }
}

.user-menu-item:hover {
  background-color: var(--primary-500);
}

.user-menu-logout {
  color: var(--error-xlight);
  cursor: pointer;

  &:hover {
    background-color: var(--error-xlight);
    color: var(--error-dark);
  }
}
