.nav-user {
  grid-row: 1;
  border-bottom: 2px solid var(--primary-500);
  height: 10vh;
  background: linear-gradient(
    to right,
    var(--primary-700),
    rgba(5, 71, 135, 0.8)
  );
  backdrop-filter: blur(0.5rem);
}

.nav-user-wrapper {
  /* background-color: rgba(0, 0, 0, 0.3); */

  /* width: 90%; */
  /* width: max-content; */

  /* border-radius: 2rem; */
  /* margin-top: 1vh; */

  padding: 0.5rem 2rem;

  @media (width < 1180px) {
    width: 95%;
  }
}

.nav-menu {
  display: none;

  @media (width < 1180px) {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    width: 40px;
    aspect-ratio: 1/1;

    background-color: transparent;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: var(--primary);

      cursor: pointer;
    }
  }
}

.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  background-color: transparent;
  cursor: pointer;
  scale: 1.25;
}

.nav-logo {
  display: none;

  @media (width < 1180px) {
    display: flex;
    gap: 1rem;

    & img:last-child {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

.none {
  display: none;
}

.nav-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  gap: 0.5rem;

  @media (width >= 1180px) {
    margin-left: auto;
    padding: 0.5rem 1rem;
  }
}

.nav-profile:has(:hover) .nav-profile-username,
.nav-profile:has(:hover) .caret-icon {
  color: var(--accent-200);
  cursor: pointer;
}

.user-img-wrapper {
  display: flex;
  gap: 0.5rem;
}

.nav-profile-img {
  width: 48px;
  aspect-ratio: 1/1;

  border: 1px solid var(--background);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
