nav {
  z-index: 5;
  width: 100%;
  height: min(8vh, 5rem);

  /* backdrop-filter: blur(5rem); */
  /* background-color: var(--primary); */
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* backdrop-filter: blur(1rem); */

  /* box-shadow: 0 4px 24px hsla(330, 100%, 87%, 0.1); */

  position: fixed;
  top: 0;
  left: 0;
}

.nav-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1rem);

  width: 90%;
  width: max-content;
  border-radius: 2rem;
  margin-top: 1vh;
  padding: 0.5rem 2rem;
}

.nav-links-common {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (width < 1180px) {
    justify-content: space-between;
  }
}

.nav-logo-visible {
  text-transform: capitalize;

  & a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.nav-login {
  /* button:first-child {
    margin-right: 1em;
  } */
  display: inline-flex;
  place-items: center;
  gap: 1.5em;
}
