.home-feature-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-size: var(--font-larger);
  margin-top: auto;

  padding: 12px 24px;

  /* & figcaption {
    backdrop-filter: blur(16px);
    width: max-content;
  } */

  & span {
    color: var(--secondary);
    font-weight: bold;
  }

  & img {
    /* aspect-ratio: 16 / 9; */
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 8px 32px hsla(232, 100%, 74%, 0.2);
  }
}
