.flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.vh-wrapper {
  height: 100dvh;
  display: grid;
  place-items: center;
}

.hero-section {
  width: calc(12 * 8.33%);
  height: 70vh;
  position: relative;
  margin: 0 auto;
  margin-top: 24px;
  border-radius: 16px;
  overflow: hidden;

  display: flex;

  background-color: var(--primary);
  box-shadow: var(--shadow-l-primary);

  @media screen and (max-width: 1100px) {
    padding: 24px 0;
  }

  @media only screen and (max-width: 800px) {
    /* 8 grids */
    width: 80%;
  }

  @media only screen and (max-width: 481px) {
    /* 4 grids */
    width: 90%;
  }

  & h1 {
    background: linear-gradient(
      to right,
      var(--accent),
      var(--text),
      var(--secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & p {
    width: 80%;

    @media only screen and (max-width: 800px) {
      width: 80%;
    }

    @media only screen and (max-width: 481px) {
      width: 100%;
    }
  }
}

.hero-text {
  z-index: 1;
  width: calc(6 * 8.33%);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 16px;
  text-wrap: balance;
  padding-left: 24px;
  padding: 24px;

  /* text-align: center; */
}

.hero-buttons {
  width: 80%;
  display: flex;
  gap: 16px;
}

.hero-image {
  width: calc(8 * 8.33%);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  & img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.hero-image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left, transparent, var(--primary));
}

.home-features-section {
  position: relative;
  gap: 32px;
  display: flex;
  flex-direction: inherit;
  width: 100%;
  min-width: 100%;
  /* background: url("../../assets/images/homepage/field.jpeg"); */
  /* background-size: cover; */
}

.home-features {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
  gap: 3rem;
  margin-bottom: 32px;

  width: min(100%, 1366px);
  margin: 0 auto;
  padding: 12px 24px 48px;
}

/* ADD BET */
.home-feature-addbet {
  width: 100%;
  padding: 12px 24px;
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-larger);
  position: relative;

  & span {
    color: var(--secondary);
    font-weight: bold;
  }
}

.home-feature-addbet-image1,
.home-feature-addbet-image2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: max-content;

  text-align: center;
  gap: 16px;
  padding: 8px;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  backdrop-filter: blur(16px);

  & img {
    border-radius: 8px;
  }
}

.home-feature-addbet-image1 {
  position: absolute;
  top: 0;
  left: 16px;
}

.home-feature-addbet-image2 {
  margin-top: 14rem;
}

/* END ADD BET */

.wrapper-styles {
  width: min(100%, 1366px);
  height: 100%;
  margin: 0 auto;
  padding: 12px 24px 48px;
}

.home-features-why {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url("../../assets/images/homepage/soccer-wide.jpeg");
  background-size: cover;
}

.home-features-why::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, var(--primary), transparent);
}

.why-to-register {
  padding: 24px 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.why-to-register-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.why-to-register-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15rem;
  aspect-ratio: 1/1;
  padding: 8px;
  gap: 1rem;

  background: linear-gradient(to bottom, var(--primary-800), var(--primary));
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: var(--shadow-l-primary);
  box-shadow: var(--shadow-primary);

  &:first-child {
    background: linear-gradient(
      to bottom right,
      var(--primary-800),
      var(--primary)
    );
  }

  &:last-child {
    &:first-child {
      background: linear-gradient(
        to bottom left,
        var(--primary-800),
        var(--primary)
      );
    }
  }
}
