.flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-section {
  width: 100%;
  min-height: 80dvh;
  background-image:
    linear-gradient(
      to right,
      rgba(35, 31, 32, 1),
      rgba(35, 31, 32, 0.75),
      rgba(35, 31, 32, 0.1)
    ),
    url("../../assets/images/homepage/bb-crop.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;

  @media only screen and (max-width: 800px) {
    /* 8 grids */
    /* width: 80%; */
  }

  @media only screen and (max-width: 581px) {
    /* 4 grids */
    /* width: 90%; */
  }
}

@media only screen and (max-width: 800px) {
  .hero-section {
    background-image:
      linear-gradient(
        to right,
        rgba(35, 31, 32, 0.85),
        rgba(35, 31, 32, 0.85),
        rgba(35, 31, 32, 0.85)
      ),
      url("../../assets/images/homepage/bb-crop.jpeg");
  }
}

.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.hero-text {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 6;
  /* border: 1px solid blue; */
  text-wrap: balance;
  justify-content: space-around;
  padding-top: min(8vh, 5rem);

  @media only screen and (max-width: 1180px) {
    grid-column: 1 / span 7;
  }

  @media only screen and (max-width: 800px) {
    grid-column: 1 /-1;
    width: 80%;
    justify-self: center;
    text-align: center;
  }

  @media only screen and (max-width: 581px) {
    width: 100%;
  }
}

.hero-slogan {
  & h1 {
    background: linear-gradient(
      to right,
      var(--accent-200),
      var(--primary-50) 25%,
      var(--accent-200) 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.hero-buttons {
  width: 40%;
  display: flex;
  gap: 1rem;

  @media only screen and (max-width: 800px) {
    width: 70%;
    align-self: center;
  }
}

.home-features-section,
.home-features-section-dark {
  position: relative;
  gap: 32px;
  display: flex;
  flex-direction: inherit;
  width: 100%;
  min-width: 100%;
}

.home-features-section:before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-100);
  z-index: 0;
}

.home-features {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
  gap: 3rem;
  margin-bottom: 32px;
  z-index: 1;
  position: relative;

  width: min(100%, 1366px);
  margin: 0 auto;
  padding: 12px 24px 48px;
}

/* ADD BET */
.home-feature-addbet {
  width: 100%;
  padding: 12px 24px;
  display: flex;
  font-size: var(--font-larger);
  position: relative;
  color: var(--text-dark);

  & span {
    color: var(--secondary);
    font-weight: bold;
  }

  @media (width < 800px) {
    font-size: 1rem;
  }
}

.addbet-feature {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-wrap: balance;

  @media (width < 581px) {
    flex-direction: column;
    text-align: center;
  }
}

.addbet-feature-order {
  order: 2;
}

/* END ADD BET */

.wrapper-styles {
  width: min(100%, 1366px);
  height: 100%;
  margin: 0 auto;
  padding: 12px 24px 48px;
}

.home-features-why {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url("../../assets/images/homepage/soccer-wide.jpeg");
  background-size: cover;
}

.home-features-why::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, var(--primary), transparent);
}

.why-to-register {
  padding: 1.5rem 2;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media only screen and (max-width: 581px) {
    text-align: center;
    text-wrap: balance;
  }
}

.why-to-register-boxes {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;

  @media only screen and (max-width: 800px) {
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
  }
}

.why-to-register-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  aspect-ratio: 1/1;
  padding: 8px;
  gap: 3rem;

  text-wrap: balance;

  background: linear-gradient(to bottom, var(--primary-800), var(--primary));
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: var(--shadow-l-primary);
  box-shadow: var(--shadow-primary);

  &:first-child {
    background: linear-gradient(
      to bottom right,
      var(--primary-800),
      var(--primary)
    );
  }

  &:last-child {
    &:first-child {
      background: linear-gradient(
        to bottom left,
        var(--primary-800),
        var(--primary)
      );
    }
  }

  @media only screen and (max-width: 800px) {
    flex-direction: row;
    height: 10rem;
    width: 20rem;
    padding: 1rem 2rem;
  }

  @media only screen and (max-width: 581px) {
    flex-direction: column;
    height: 10rem;
    width: 10rem;
    padding: 1rem 2rem;
    gap: 1rem;
    font-size: 0.925rem;
  }
}
