.dash-winpercent {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-row: 2 / 3;
  grid-column: 9 / 13;

  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 6px 12px;

  backdrop-filter: blur(4px);
  box-shadow: var(--shadow-s);

  &:hover {
    box-shadow: var(--shadow-l);
  }

  @media only screen and (max-width: 800px) {
    /* 8 grids */
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 100%;
  }

  @media only screen and (max-width: 461px) {
    /* 4 grids */
    padding: 4px 8px;
    font-size: 0.925rem;
  }
}

.bet-profit-lost {
  color: var(--secondary-light);
}

.bet-profit-won {
  color: var(--success-light);
}

.bet-profit-void {
  color: var(--warning-light);
}
