input[type="text"],
input[type="date"],
select {
  padding: 8px 6px;
  margin-top: 4px;

  border-radius: 8px;
  /* appearance: none; */
  /* outline: 2px solid var(--primary-900); */

  /* border: 2px solid var(--primary-200); */

  /* &:focus { */
  /* outline: 1px solid var(--primary-800); */
  /* border: transparent; */
  /* } */
}

input[type="date"] {
  font-size: var(--font-xxsmall);
}

.text-input {
  display: flex;
  flex-direction: column;

  padding: 4px 0;
}

.text-input-paragraph {
  margin-left: 8px;
  font-size: var(--font-xxsmall);
  letter-spacing: 0.5px;
  color: var(--text-light);
}

label {
  font-size: var(--font-small);
  padding-left: 4px;

  display: inline-flex;
  align-items: center;
}
