input[type="text"],
input[type="date"] {
  padding: 8px 6px;
  margin-top: 4px;

  border-radius: 4px;
}

.text-input {
  display: flex;
  flex-direction: column;

  padding: 8px 4px;

  label {
    font-size: 0.925em;
    padding-left: 4px;

    display: inline-flex;
    align-items: center;
  }
}

.text-input-paragraph {
  margin-left: 8px;
  font-size: 0.8em;
  letter-spacing: 0.5px;
  color: var(--text-light);
}
