* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  color: var(--text);
  /* background: url("./assets/images/circle-bg.svg") no-repeat center / cover; */
  /* background: linear-gradient(to bottom, var(--background), var(--background2)); */
  background-color: var(--primary);
  /* background: radial-gradient(var(--primary-500), var(--primary)); */

  /* background: radial-gradient(
    var(--accent-500),
    var(--primary-800),
    var(--primary)
  ); */
  /* background: linear-gradient(
    to bottom right,
    var(--accent-700),
    var(--primary-800),
    var(--primary-900),
    var(--primary-900),
    var(--accent-500)
  ); */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

/* Fonts */
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Use this everywhere */
.wrapper {
  /* 12 grids */
  width: min(100%, 1366px);
  height: 100%;
  margin: 0 auto;
  padding: 12px 24px;

  /* border: 1px solid lightblue; */

  @media only screen and (max-width: 800px) {
    /* 8 grids */
    padding: 8px 16px;
  }

  @media only screen and (max-width: 581px) {
    /* 4 grids */
    padding: 8px 8px;
    font-size: 0.925rem;
  }
}

.navbar-padding {
  padding-top: 10vh;
}

.grid-row-2 {
  grid-row: 2;
}

/* Headers */
:is(h1, h2, h3) {
  font-family: "Bebas Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  color: var(--text);
}

:is(h4, h5, h6) {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.125px;
  font-size: 1rem;
}

h1 {
  /* font-size: clamp(32px, 5vw, 48px); */
  font-size: 4rem;
  @media only screen and (max-width: 800px) {
    /* 8 grids */
    font-size: 4rem;
  }
  @media only screen and (max-width: 581px) {
    /* 4 grids */
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  @media only screen and (max-width: 800px) {
    /* 8 grids */
    font-size: 1.75rem;
  }
  @media only screen and (max-width: 581px) {
    /* 4 grids */
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

h5 {
  font-weight: 300;
}

h6 {
  font-size: 0.825rem;
  font-weight: 400;
  letter-spacing: 0.25px;
}

/* END Headers */

/* Link */
a {
  text-decoration: none;
  color: inherit;
}
/* END Link */

:root {
  /* Colors */

  --primary-50: #f0f7ff;
  --primary-100: #dfedff;
  --primary-200: #b9dcfe;
  --primary-300: #7bc1fe;
  --primary-400: #34a1fc;
  --primary-500: #0a87ed;
  --primary-600: #0068cb;
  --primary-700: #0057ad;
  --primary-800: #054787;
  --primary-900: #0a3b70;
  --primary-950: rgb(7, 37, 74);

  --primary: rgb(5, 71, 135);

  --test: #d3eedc;

  --accent-50: #fefde8;
  --accent-100: #fefdc3;
  --accent-200: #fff789;
  --accent-300: #feed46;
  --accent-400: #fbda0c;
  --accent-500: #ebc207;
  --accent-600: #cb9703;
  --accent-700: #a26c06;
  --accent-800: #86550d;
  --accent-900: #714512;
  --accent-950: #422406;

  --accent: #fbda0c;
  --accent-light: #feed46;

  /* surface(white), base, medium, light, xlight, xxlight */

  /* Text */
  --text: hsl(47, 100%, 98%);
  --text-light: hsla(0, 0%, 100%, 0.8);
  --text: white;
  --text-light: white;
  --text-dark: hsl(47, 100%, 5%);
  --text-disabled: #808080;
  --text-primary: hsl(47, 100%, 95%);
  --text-secondary: hsl(330, 100%, 95%);

  --font-small: 0.925rem;
  --font-smaller: 0.875rem;
  --font-xsmall: 0.825rem;
  --font-xxsmall: 0.775rem;
  --font-large: 1.125rem;
  --font-larger: 1.25rem;

  /* base, secondary, muted, inactive, disabled(gray), inverted(white) */

  /* Border */
  --border-50: rgba(237, 242, 255, 0.1);

  /* light, base, medium, dark, extraDark */

  /* Neutral */
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;

  /* Accent2 */
  --accent2-50: #fff9ed;
  --accent2-100: #fff2d5;
  --accent2-200: #fee0aa;
  --accent2-300: #fdc365;
  --accent2-400: #fba73c;
  --accent2-500: #f98b16;
  --accent2-600: #ea700c;
  --accent2-700: #c2550c;
  --accent2-800: #9a4312;
  --accent2-900: #7c3812;
  --accent2-950: #431a07;

  /* Success */
  --ok-dark: hsla(139, 54%, 25%, 1);
  --ok-base: hsla(142, 99%, 33%, 1);
  --ok-light: #b3e6c5;
  --ok-xlight: hsla(141, 46%, 88%, 1);
  --ok-xxlight: hsla(141, 44%, 98%, 1);

  /* Info */
  --info-dark: hsla(238, 69%, 44%, 1);
  --info-base: hsla(248, 82%, 55%, 1);
  --info-medium: hsla(229, 96%, 67%, 1);
  --info-light: hsla(221, 84%, 66%, 1);
  --info-xlight: hsla(216, 85%, 84%, 1);
  --info-xxlight: hsla(214, 84%, 90%, 1);
  --info-xxxlight: hsla(220, 82%, 96%, 1);

  /* Error */
  --error-dark1: hsla(0, 83%, 31%, 1);
  --error-base1: hsla(12, 73%, 47%, 1);
  --error-light1: #f1b6a7;
  --error-xlight1: hsla(0, 71%, 90%, 1);
  --error-xxlight1: hsla(0, 75%, 95%, 1);

  --error-dark: hsla(0, 85%, 25%, 1);
  --error-base: hsla(0, 75%, 45%, 1);
  --error-light: hsla(0, 75%, 65%, 1);
  --error-xlight: hsla(0, 85%, 93%, 1);
  --error-xxlight: hsla(0, 85%, 97%, 1);

  --button-danger-normal: hsl(4, 78%, 62%);
  --button-danger-bgColor-hover: hsl(1, 59%, 43%);
  --button-danger-bgColor-rest: #2a313c;
  --button-danger-borderColor-rest: #3d444d;

  --button-danger-bgColor-active: hsl(2, 55%, 49%);

  /* Warning */
  --warning-dark: hsla(37, 86%, 20%, 1);
  --warning-base: hsla(44, 82%, 52%, 1);
  --warning-medium: hsla(46, 87%, 76%, 1);
  --warning-light: hsla(37, 100%, 89%, 1);
  --warning-xlight: hsla(37, 100%, 92%, 1);

  /* Box Shadow */
  --shadow-xs: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 16px rgba(0, 0, 0, 0.1);
  --shadow-s: 0 4px 8px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.2);
  --shadow-m: 0px 4px 16px hsla(228, 100%, 81%, 0.4);
  --shadow-l: 0 4px 8px rgba(0, 0, 0, 0.4), 0 4px 16px rgba(0, 0, 0, 0.25);

  --shadow-xl: 0px 8px 64px hsla(228, 100%, 81%, 0.2);

  --shadow-white: 0px 0px 64px rgba(255, 255, 255, 0.3);
  --shadow-primary: 0px 0px 64px rgba(62, 59, 240, 0.3);

  --shadow-test:
    0 0 4px rgba(255, 255, 255, 0.05), 0 0 16px rgba(255, 255, 255, 0.1),
    0 4px 64px rgba(255, 255, 255, 0.05);

  --shadow-l-primary: 0px 4px 64px rgba(62, 59, 240, 0.5);

  --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 8px 36px rgba(0, 0, 0, 0.2);
}
