* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --text: hsl(158, 22%, 10%);
  --background: hsl(192, 38%, 95%);
  --primary: hsl(157, 62%, 78%);
  --secondary: hsl(158, 22%, 10%);
  --accent: hsl(40, 100%, 79%);

  --info: rgb(41, 97, 238);
  --success: rgb(96, 182, 84);
  --warning: rgb(243, 176, 77);
  --error: rgb(235, 78, 50);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;

  color: var(--text);

  /* Headers */
  :is(h1, h2, h3, h4, h5, h6) {
    font-family: "Barlow Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;

    color: var(--text);
  }

  h1 {
    /* font-size: clamp(32px, 5vw, 48px); */
    font-size: 48px;
  }

  h2 {
    font-size: clamp(24px, 4vw, 40px);
    font-size: 40px;
  }

  h3 {
    /* font-size: 1.1rem; */
    text-transform: uppercase;
  }
  /* END Headers */
}
