.btn2-outline,
.btn2-cta {
  height: 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
  font-family: "Montserrat", serif;
  font-weight: 500;
  text-transform: capitalize;
  /* letter-spacing: 0.5px; */
  outline: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.125);

  transition:
    box-shadow 0.25s ease,
    transform 0.25s ease;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175);
  }

  &:active {
    transform: scale(0.975);
  }
}

.btn2-cta {
  border: 1px solid var(--accent-300);

  background: linear-gradient(
    to bottom,
    var(--accent-100) 0%,
    var(--accent-300) 15%,
    var(--accent-400) 100%
  );

  &:hover {
    background: var(--accent-100);
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

  &:disabled {
    cursor: not-allowed;
    background: rgba(254, 253, 195, 0.75);
    color: gray;
    box-shadow: none;

    &:hover {
      border: 1px solid gray;
      background: rgba(254, 253, 195, 0.75);
      color: gray;
    }
  }
}

.btn2-outline {
  border: 1px solid rgba(255, 255, 255, 0.175);
  background-color: rgba(255, 255, 255, 0.075);
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.175),
    transparent,
    rgba(0, 0, 0, 0.175)
  );
  color: white;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

  &:disabled {
    cursor: not-allowed;
    border: 1px solid gray;

    background: rgba(255, 255, 255, 0.55);
    color: gray;
    box-shadow: none;

    &:hover {
      border: 1px solid gray;
      background: rgba(255, 255, 255, 0.55);

      color: gray;
    }
  }
}

.primary2 {
  color: #194149;
}

.secondary2 {
  color: #ae918f;
}

.accent2 {
  color: #fdc365;
}
