.dashboard-grid {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 24px;
}

.dash-first {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr max-content;
  gap: 24px;
  min-width: 100%;
}

.dash-second {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 24px;
}

.dash-third {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 24px;
}

.dash-totalbets,
.dash-returnpercent,
.dash-saldo,
/* .dash-addbet, */
.dash-winpercent,
.dash-summary,
.dash-monthly,
.dash-latestbets {
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 6px 12px;

  backdrop-filter: blur(4px);

  box-shadow: 2px 2px 4px hsla(0, 0%, 100%, 0.2);

  &:hover {
    box-shadow: 2px 2px 4px hsla(0, 0%, 97%, 0.5);
  }
}

.dash-totalbets,
.dash-returnpercent,
.dash-saldo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  /* display: grid;
  grid-template-columns: repeat(2, max-content);
  place-items: center; */
  gap: 4px;
  padding: 4px 16px;
  /* grid-area: 1 / 1 / 2 / 2; */
}

.dash-helper {
  text-transform: capitalize;
  text-align: end;

  h2 {
    font-size: clamp(24px, 3.5vw, 36px);
    font-size: 30px;
  }

  p {
    color: var(--secondary-light);
    text-align: end;
  }
}

.dash-addbet {
  /* grid-area: 1 / 5 / 2 / 6; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 16px;
}

.dash-summary {
  display: grid;
  grid-template-rows: max-content repeat(5, 1fr);

  /* grid-area: 2 / 1 / 4 / 4; */
}

.summary-main-header {
  display: flex;
  align-items: center;
}

.summary-headers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: end;
  gap: 4px;

  color: var(--secondary-xlight);
}

.summary-today,
.summary-yesterday,
.summary-7days,
.summary-month {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 4px;

  p {
    text-align: end;
    font-variant-numeric: tabular-nums;
  }

  p:first-child {
    text-align: start;
    color: var(--secondary-xlight);
  }
}

/* .dash-winpercent { */
/* grid-area: 2 / 4 / 4 / 6; */
/* } */
/* .dash-monthly { */
/* grid-area: 4 / 1 / 6 / 3; */
/* } */
.dash-latestbets {
  display: grid;
  grid-template-rows: max-content max-content repeat(2, 1fr);

  /* grid-area: 4 / 3 / 6 / 6; */
}

.latest-headers,
.latest-bets {
  display: grid;
  grid-template-columns: 0.75fr 2fr 1fr 0.5fr 0.5fr 1fr;
  gap: 8px;

  border-bottom: 1px solid rgba(43, 43, 145, 0.8);
}

.latest-headers {
  padding: 6px 0;
  color: rgba(255, 255, 255, 0.703);
  color: var(--secondary-xlight);
  font-size: 0.925em;
}

.latest-bet-header-match {
  text-align: center;
}

.latest-bet-header-stake,
.latest-bet-header-odds,
.latest-bet-header-status,
.bet-stake,
.bet-odds,
.bet-status {
  text-align: right;
}

.latest-bets {
  align-items: center;
  gap: 8px;

  font-size: 0.825em;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:last-child {
    border: none;
  }
}

.bets-match {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr max-content 1fr;
  gap: 4px;
  text-align: center;
}

.bet-selection {
  border-radius: 4px;
  padding: 4px;

  background-color: var(--info);
  width: max-content;
  max-width: 100%;
}

.bet-status-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
