.dashboard-grid {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 24px;
}

.dash-first {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr max-content;
  gap: 24px;
  min-width: 100%;
}

.dash-second {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 24px;
}

.dash-third {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 24px;
}

.dash-totalbets,
.dash-returnpercent,
.dash-saldo,
/* .dash-addbet, */
.dash-winpercent,
.dash-summary,
.dash-monthly,
.dash-latestbets {
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 6px 12px;

  backdrop-filter: blur(4px);

  box-shadow: 2px 2px 4px hsla(0, 0%, 100%, 0.2);

  &:hover {
    box-shadow: 2px 2px 4px hsla(0, 0%, 97%, 0.5);
  }
}

.dash-totalbets,
.dash-returnpercent,
.dash-saldo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  /* display: grid;
  grid-template-columns: repeat(2, max-content);
  place-items: center; */
  gap: 4px;
  padding: 4px 16px;
  /* grid-area: 1 / 1 / 2 / 2; */
}

.dash-helper {
  text-transform: capitalize;
  text-align: end;

  h2 {
    font-size: clamp(24px, 3.5vw, 36px);
    font-size: 30px;
  }

  p {
    color: var(--secondary-light);
    text-align: end;
  }
}

.dash-addbet {
  /* grid-area: 1 / 5 / 2 / 6; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 16px;
}

.dash-summary {
  display: grid;
  grid-template-rows: repeat(6, 1fr);

  /* grid-area: 2 / 1 / 4 / 4; */
}

.summary-main-header {
  display: flex;
  align-items: center;
}

.summary-headers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: end;
  gap: 4px;

  color: var(--secondary-xlight);
}

.summary-today,
.summary-yesterday,
.summary-7days,
.summary-month {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 4px;

  p {
    text-align: end;
  }

  p:first-child {
    text-align: start;
    color: var(--secondary-xlight);
  }
}

/* .dash-winpercent { */
/* grid-area: 2 / 4 / 4 / 6; */
/* } */
/* .dash-monthly { */
/* grid-area: 4 / 1 / 6 / 3; */
/* } */
/* .dash-latestbets { */
/* grid-area: 4 / 3 / 6 / 6; */
/* } */
