.dashboard-grid {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 24px;
}

.dash-first {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr max-content;
  gap: 24px;
  min-width: 100%;
}

.dash-second {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 24px;
}

.dash-third {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 24px;
}
