nav {
  z-index: 5;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
}

.nav-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);

  width: max-content;
  border-radius: 2rem;
  margin-top: 1vh;
  padding: 0.5rem 1.5rem;

  @media (width < 581px) {
    justify-content: space-between;
    width: 95%;
  }
}

.nav-links-common {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (width < 1180px) {
    justify-content: space-between;
  }
}

.nav-logo-visible {
  text-transform: capitalize;

  & a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.nav-login {
  display: inline-flex;
  place-items: center;
  gap: 1.5em;
}

.display-none {
  display: none;
}
