.odds-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  padding: 8px 16px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  &:hover {
    box-shadow: var(--shadow-s);
  }

  @media only screen and (max-width: 800px) {
    grid-row: 2/ 3;
    grid-column: 1 / 2;
  }

  @media only screen and (max-width: 581px) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
