footer {
  z-index: 5;
  grid-row: 3;
  width: 100%;
  margin-top: auto;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary-900);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.extra-wrapper {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media only screen and (max-width: 480px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.footer-logo {
  display: flex;
  gap: 0.5rem;

  & h3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}

.top-footer-links {
  display: flex;
  gap: 3rem;
}

.footer-link-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.725rem;
  color: rgba(255, 255, 255, 0.75);

  & h4 {
    font-size: 0.825rem;
    color: white;
  }

  & a:hover {
    cursor: pointer;
    color: white;
  }
}

.under-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
}

.copyright {
  display: flex;
  gap: 0.5rem;

  @media only screen and (max-width: 480px) {
    flex-direction: column;
    gap: 0;
  }
}

.footer-links {
  display: flex;
  gap: 1rem;

  & a {
    transition: transform 0.25s ease-out;
  }

  & a:hover {
    transform: scale(1.125);
  }
}
