.add-bet-modal {
  position: relative;
}

.add-bet-close {
  position: absolute;
  right: 8px;

  padding: 4px;
  height: 32px;
  width: 32px;

  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;

  transition: all 0.3s ease-out;

  &:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
}

.add-bet-finish {
  border: 1px solid red;
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
  grid-template-rows: max-content;

  & > * {
    border: 1px solid orange;
  }
}

.finish-bet-header {
  align-content: start;
  width: 100%;
}

.finish-mybet {
  display: grid;
  grid-template-rows: auto;
  width: 100%;

  /* & > * {
    border: 1px solid green;
  } */
}

.finish-mybet-slip-headers,
.finish-mybet-slip {
  display: grid;
  /* place-items: center; */
  grid-template-columns: 0.75fr 2fr 1fr 0.5fr 0.5fr 1fr max-content;
  gap: 8px;

  text-transform: capitalize;

  padding: 6px 0;
  color: rgba(255, 255, 255, 0.703);
  color: var(--secondary-xlight);
  font-size: 0.925em;
  border-bottom: 1px solid rgba(43, 43, 145, 0.8);
}

.finish-mybet-match {
  text-align: center;
}
