.finish-mybet-slip-headers {
  text-transform: uppercase;
  font-size: var(--font-smaller);
  font-weight: 500;
}

.finish-mybet-slip-headers,
.finish-mybet-slip {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.5fr 0.25fr;
  gap: 8px;

  padding: 8px 0;
  color: var(--secondary-xlight);
  align-items: center;

  @media screen and (max-width: 800px) {
    grid-template-columns:
      minmax(150px, 1.5fr) minmax(80px, 1fr) minmax(40px, 0.5fr)
      minmax(24px, 0.25fr);
  }
}

.finish-mybet-slip {
	@media screen and (max-width: 581px) {
		font-size: var(--font-smaller);
	}
}
