.addbet-container {
  width: 80%;
  width: max-content;
  height: 100%;
  height: max-content;

  margin: 24px auto 0;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

  padding: 8px 16px;
}

.container-header {
  text-align: center;
}

.addbet-form {
  border: 1px solid red;

  display: grid;
  gap: 24px;
  padding: 8px 0;
}

.match-input,
.selection-input,
.sport-input,
.bet-type-input,
.odds-input,
.add-bet-buttons,
.fields-dropdown,
.date-input,
.bookmaker-input,
.tipper-input,
.notes-input,
.add-bet-checks {
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  &:hover {
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1);
  }
}

.add-bet-buttons {
  border: none;
}

.match-input {
  display: flex;
  flex-direction: column;
  justify-content: center;

  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.match-input-fields {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.match-dash {
  margin: 0 8px;
}

.sport-input {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.selection-input {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.bet-type-input {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.odds-input {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.fields-dropdown {
  grid-row: 3 / 4;
  grid-column: 1 / 4;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);

    cursor: pointer;
  }
}

.date-input {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.bookmaker-input {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.tipper-input {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
}

.notes-input {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
}

.add-bet-checks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.add-bet-buttons {
  grid-row: 4 / 5;
  grid-column: 1 / 4;

  display: flex;
  justify-content: space-between;

  button {
    width: 45%;
    padding: 12px;
  }
}

.add-bet-buttons-extra-fields {
  grid-row: 6 / 7;
}
