#finish-my-bet {
  margin-bottom: 2rem;
}

.mybet-header {
  display: flex;
  justify-content: space-between;
}

.mybets-close {
  all: unset;
  position: absolute;
  right: 8px;

  height: 32px;
  width: 32px;

  display: grid;
  place-items: center;
  border: 1px solid transparent;
  border-radius: 4px;

  transition: all 0.3s ease-out;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
}

.finish-mybet-slip-headers {
  border-bottom: 1px solid rgba(43, 43, 145, 0.8);
  text-transform: uppercase;
  font-size: var(--font-smaller);
  font-weight: 500;
}

.finish-mybet-slip-headers,
.finish-mybet-slip {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.5fr 0.25fr;
  gap: 8px;

  padding: 8px 0;
  color: var(--secondary-xlight);
  align-items: center;

  border-bottom: 1px solid rgba(43, 43, 145, 0.8);

  @media screen and (max-width: 800px) {
    grid-template-columns:
      minmax(150px, 1.5fr) minmax(80px, 1fr) minmax(40px, 0.5fr)
      minmax(24px, 0.25fr);
  }
}

.finish-mybet-slip {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: var(--font-small);
}

.mybet-match,
.mybet-slip-match {
  padding-left: 8px;
}

.mybet-more,
.mybet-slip-more {
  display: flex;
  justify-content: center;
}

.mybet-edit:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .mybet-slip-selection {
    & p {
      max-width: 15ch;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
