.mybet-header {
  display: flex;
  justify-content: space-between;
}

.mybets-close {
  position: absolute;
  right: 8px;

  height: 32px;
  width: 32px;

  display: grid;
  place-items: center;
  border: 1px solid transparent;
  border-radius: 4px;

  transition: all 0.3s ease-out;

  &:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
}

.finish-mybet-slip-headers {
  border-bottom: 1px solid rgba(43, 43, 145, 0.8);
}

.finish-mybet-slip-headers,
.finish-mybet-slip {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.75fr 0.25fr;
  gap: 8px;

  padding: 8px 0;
  color: var(--secondary-xlight);
  /* font-size: 0.925em; */
  align-items: center;

  border-bottom: 1px solid rgba(43, 43, 145, 0.8);
}

.finish-mybet-slip {
  background-color: rgba(0, 0, 0, 0.1);
}

/* .mybet-slip-potential {
  display: flex;
  gap: 16px;

  p:last-child {
    color: var(--success-light);
    width: 100px;
  }
} */

.mybet-match,
.mybet-slip-match {
  padding-left: 8px;
}

.mybet-more,
.mybet-slip-more {
  display: flex;
  justify-content: center;
}

.mybet-edit:hover {
  cursor: pointer;
}
