.btn {
  border: none;
  text-decoration: none;
  padding: 8px 16px;
  background-color: inherit;
  color: var(--text);

  /* font-family: "Bebas Neue", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.125rem;
  /* letter-spacing: 0.125em; */

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  @media only screen and (max-width: 800px) {
    /* 8 grids */
    font-size: 1rem;
  }

  @media only screen and (max-width: 481px) {
    /* 4 grids */
    font-size: 0.75rem;
    padding: 6px 12px;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn-font {
  font-size: 1.125rem;
  /* letter-spacing: 0.125rem; */
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  @media only screen and (max-width: 800px) {
    /* 8 grids */
    font-size: 1rem;
  }

  @media only screen and (max-width: 481px) {
    /* 4 grids */
    font-size: 0.75rem;
  }
}

.underline-hover {
  display: inline-block;
  position: relative;
}

.underline-hover:after {
  content: ""; /* Add content after the element */
  position: absolute; /* Position absolute for pseudo-element */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initial scale of 0 for underline effect */
  height: 1px; /* Height of the underline */
  bottom: -6px; /* Align to bottom */
  left: 0; /* Align to left */
  background-color: white; /* Background color of the underline */
  transform-origin: bottom right; /* Set transform origin */
  transition: transform 0.3s ease-out; /* Transition effect for the underline */
}

.underline-hover:hover:after {
  transform: scaleX(1); /* Scale the underline on hover */
  transform-origin: bottom left; /* Set transform origin */
}

.outline-btn {
  border: 1px solid var(--secondary-200);
  border-radius: 8px;
  box-shadow: 0 2px 4px hsla(47, 100%, 87%, 0.2);
  transition: box-shadow 0.1s ease-out;

  &:hover {
    border: 1px solid var(--secondary);
    box-shadow:
      0 2px 8px rgba(255, 219, 87, 0.4),
      0 2px 16px rgba(255, 219, 87, 0.1);
  }

  &:active {
    transform: translate(1px, 1px);
  }

  &:disabled {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn-filled {
  font-family: "Bebas Neue", sans-serif;
  border-radius: 8px;
  box-shadow: 0 2px 8px hsla(47, 100%, 87%, 0.2);

  background-image: linear-gradient(
    var(--secondary-100) 0%,
    var(--secondary-200) 100%
  );

  color: var(--text-dark);
  /* font-size: 1em; */
  font-weight: 600;

  &:hover {
    background-image: linear-gradient(
      var(--secondary-200) 0%,
      var(--secondary-300) 100%
    );
    box-shadow: 0 2px 16px hsla(47, 100%, 87%, 0.2);
  }

  &:active {
    transform: translate(1px, 1px);
    background-image: linear-gradient(
      var(--secondary-300) 0%,
      var(--secondary-400) 100%
    );
  }
}

.delete-btn {
  color: black;
  color: white;
  border-color: #c62828;
  background-color: #c62828;
  box-shadow: 2px 2px 4px hsla(12, 73%, 57%, 0.2);

  &:hover {
    box-shadow: 4px 4px 8px hsl(12, 73%, 57%, 0.5);
    /* box-shadow: none; */
    background-color: #b71c1c;
    border-color: black;
  }
}

.big-btn-style {
  font-family: "Bebas Neue", sans-serif;
  border-radius: 8px;
  box-shadow: 0 2px 8px hsla(47, 100%, 87%, 0.2);

  background-image: linear-gradient(
    var(--secondary-100) 0%,
    var(--secondary-200) 100%
  );

  color: var(--text-dark);
  font-size: 1.5em;
  font-weight: 800;

  width: min(500px, 100%);
  padding: 16px 32px;
  margin: 16px 0;

  &:hover {
    background-image: linear-gradient(
      var(--secondary-200) 0%,
      var(--secondary-300) 100%
    );
    box-shadow: 0 2px 16px hsla(47, 100%, 87%, 0.2);
  }

  &:active {
    transform: translate(1px, 1px);
    background-image: linear-gradient(
      var(--secondary-300) 0%,
      var(--secondary-400) 100%
    );
  }
}

.big-btn {
  font-family: "Bebas Neue", sans-serif;
  border-radius: 8px;
  box-shadow: 0 2px 8px hsla(47, 100%, 87%, 0.2);

  background-image: linear-gradient(
    var(--secondary-100) 0%,
    var(--secondary-200) 100%
  );

  color: var(--text-dark);
  font-size: 1.5em;
  font-weight: 800;

  width: min(500px, 100%);
  padding: 16px 32px;
  margin: 16px 0;

  &:hover {
    background-image: linear-gradient(
      var(--secondary-200) 0%,
      var(--secondary-300) 100%
    );
    box-shadow: 0 2px 16px hsla(47, 100%, 87%, 0.2);
  }

  &:active {
    transform: translate(1px, 1px);
    background-image: linear-gradient(
      var(--secondary-300) 0%,
      var(--secondary-400) 100%
    );
  }
}
