.btn {
  border: none;
  text-decoration: none;
  padding: 8px 16px;
  background-color: inherit;
  color: var(--text);

  font-family: "Bebas Neue", sans-serif;
  /* font-family: "Source Serif 4", serif; */
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.125rem;
  letter-spacing: 0.125em;

  &:hover {
    cursor: pointer;
  }
}

.btn-font {
  font-family: "Bebas Neue", sans-serif;
  /* font-family: "Source Serif 4", serif; */
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.125rem;
  letter-spacing: 0.125em;
}

.underline-hover {
  display: inline-block;
  position: relative;
}

.underline-hover:after {
  content: ""; /* Add content after the element */
  position: absolute; /* Position absolute for pseudo-element */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initial scale of 0 for underline effect */
  height: 1px; /* Height of the underline */
  bottom: -4px; /* Align to bottom */
  left: 0; /* Align to left */
  background-color: white; /* Background color of the underline */
  transform-origin: bottom right; /* Set transform origin */
  transition: transform 0.3s ease-out; /* Transition effect for the underline */
}

.underline-hover:hover:after {
  transform: scaleX(1); /* Scale the underline on hover */
  transform-origin: bottom left; /* Set transform origin */
}

.outline-btn {
  border: 1px solid var(--primary);
  border-radius: 8px;
  box-shadow: 0 2px 4px hsla(47, 100%, 87%, 0.2);
  transition: box-shadow 0.1s ease-out;

  &:hover {
    box-shadow:
      0 2px 8px hsla(47, 100%, 87%, 0.5),
      0 2px 16px hsla(47, 100%, 87%, 0.1);
  }

  &:active {
    transform: translate(1px, 1px);
  }

  &:disabled {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.delete-btn {
  color: black;
  color: white;
  border-color: #c62828;
  background-color: #c62828;
  box-shadow: 2px 2px 4px hsla(12, 73%, 57%, 0.2);

  &:hover {
    box-shadow: 4px 4px 8px hsl(12, 73%, 57%, 0.5);
    /* box-shadow: none; */
    background-color: #b71c1c;
    border-color: black;
  }
}

.big-btn-style {
  border: 1px solid var(--primary);
  border-radius: 8px;

  padding: 8px 32px;

  background: var(--primary);
  background: linear-gradient(to right, var(--primary), var(--primary-light));
  color: var(--text-dark);

  &:hover {
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    background: linear-gradient(
      to right,
      var(--primary),
      var(--secondary-light)
    );

    &:active {
      transform: translate(1px, 1px);
    }

    border: 1px solid black;
  }

  &:disabled {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.big-btn {
  border: 1px solid var(--primary);
  border-radius: 8px;

  background: var(--primary);
  background: linear-gradient(to right, var(--primary), var(--primary-light));
  color: var(--text-dark);
  font-size: 1.5em;
  font-weight: 800;

  width: max(200px, 50%);
  padding: 16px 32px;
  margin: 16px 0;

  transition: background-color 0.3s ease-out;

  &:hover {
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    background: linear-gradient(
      to right,
      var(--primary),
      var(--secondary-light)
    );

    &:active {
      transform: translate(1px, 1px);
    }

    border: 1px solid black;
  }
}
