.bets-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px auto;
  padding: 8px 0;
  width: 75%;
}

.filters-list {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  position: relative;
  display: inline-block;

  & p {
    padding: 8px 16px;
  }

  & ul::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(16px);
    z-index: -1;
  }

  & ul {
    font-size: var(--font-small);
    z-index: 1;
    list-style: none;
    position: absolute;
    width: max-content;
    min-width: 7rem;
    background-color: rgba(0, 0, 0, 0.3);

    & li {
      padding: 8px 16px;

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.multi-level-dropdown {
  top: 0;
  left: 100%;

  & li {
    display: flex;
    align-content: space-between;
    width: 100%;
  }
}

.bets-table {
  padding-bottom: 240px;
  font-size: var(--font-xsmall);
}

table {
  width: 100%;
  /* width: auto; */
  border-collapse: collapse;
  table-layout: auto;

  /* backdrop-filter: blur(8px); */
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
  box-shadow: var(--shadow-s);
}

tbody tr {
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  }
}

th,
td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 8px;
}

td {
  text-align: center;
  align-content: center;
  /* width: max-content; */
}

/* .table-status {
  width: 6rem;
} */

.bet-won {
  color: hsla(141, 45%, 88%, 1);
}

.bet-lost {
  color: #f8d3d3;
}

.bet-void {
  background-color: hsla(37, 100%, 89%, 1);
}

.bet-pending {
  color: var(--primary-100);
}

@media only screen and (max-width: 1000px) {
  .bets-table {
    font-size: var(--font-xxsmall);
  }
  /* .table-header-type,
  .table-type,
  .table-header-sport,
  .table-sport {
    display: none;
  }

  .table-status {
    width: 3rem; */
  /* } */
}

/* @media only screen and (max-width: 800px) {
  .bets-table {
    font-size: var(--font-xxsmall);
  }
  .table-header-date,
  .table-date,
  .table-header-stake,
  .table-stake,
  .table-header-result,
  .table-result {
    display: none;
  }

  .table-status {
    width: 3rem;
  }
} */

/* @media only screen and (max-width: 481px) {
  .table-header-match,
  .table-match,
  .table-header-odds,
  .table-odds {
    display: none;
  }

  .table-winloss {
    width: 2rem;
  }
} */
