.addstake-container {
  width: min(100%, 850px);
  height: max-content;

  margin: 24px auto 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  padding: 8px 16px 16px;
  backdrop-filter: blur(8px);
  background: color-mix(in srgb, var(--primary-700) 75%, transparent);

  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 8px;

  transform: translateX(100vw);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;
  pointer-events: none;
}

.addstake-container.visible {
  transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}

#finish-my-bet {
  margin-bottom: 2rem;
}

.mybet-header {
  display: flex;
  justify-content: space-between;
}

.mybets-close {
  all: unset;
  position: absolute;
  right: 8px;

  height: 32px;
  width: 32px;

  display: grid;
  place-items: center;
  border: 1px solid transparent;
  border-radius: 4px;

  transition: all 0.3s ease-out;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
}

.finish-mybet-slip-headers,
.finish-mybet-slip {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.5fr 0.25fr;
  gap: 8px;

  padding: 8px 0;
  color: var(--secondary-xlight);
  align-items: center;

  @media screen and (max-width: 800px) {
    grid-template-columns:
      minmax(150px, 1.5fr) minmax(80px, 1fr) minmax(40px, 0.5fr)
      minmax(24px, 0.25fr);
  }
}

.finish-mybet-slip {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: var(--font-small);
  border-bottom: 1px solid rgba(43, 43, 145, 0.5);
}

.finish-mybet-slip:last-of-type {
  border-bottom: none;
}

.mybet-match,
.mybet-slip-match {
  padding-left: 8px;
  text-transform: uppercase;
}

.mybet-more,
.mybet-slip-more {
  display: flex;
  justify-content: center;
}

.mybet-edit:hover {
  cursor: pointer;
}

.mybet-slip-selection {
  & p {
    max-width: 25ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 800px) {
  .mybet-slip-selection {
    & p {
      max-width: 20ch;
    }
  }

  .mybet-slip-hometeam,
  .mybet-slip-awayteam {
    max-width: 25ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
