.hero-section {
  width: calc(10 * 8.33%);
  margin: 0 auto;
  padding-top: 24px;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  @media only screen and (max-width: 800px) {
    /* 8 grids */
    width: 80%;
  }

  @media only screen and (max-width: 481px) {
    /* 4 grids */
    width: 90%;
  }

  & h1 {
    background: linear-gradient(
      to right,
      var(--accent),
      var(--text),
      var(--secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & p {
    width: 50%;

    @media only screen and (max-width: 800px) {
      width: 80%;
    }

    @media only screen and (max-width: 481px) {
      width: 100%;
    }
  }
}
