.bet-status-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.bet-status-ball-latest {
  height: 1.5cap;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.bet-status-lost {
  box-shadow: 0px 0px 8px var(--error-light);
  background-color: var(--error-base);
  border: 2px solid var(--error-light);
}

.bet-status-won {
  box-shadow: 0px 0px 8px var(--ok-light);
  background-color: var(--ok-base);
  border: 2px solid var(--ok-light);
}

.bet-status-void {
  box-shadow: 0px 0px 8px var(--warning-light);
  background-color: var(--warning-base);
  border: 2px solid var(--warning-light);
}

.bet-status-pending {
  box-shadow: 0px 0px 8px var(--info-light);
  background-color: var(--info);
  border: 2px solid var(--info-light);
}

.bet-status-latest,
.bet-profit {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;
}

.bet-profit {
  font-size: var(--font-xxsmall);
  font-variant-numeric: tabular-nums;
  display: flex;
  width: 100%;
}

.bet-profit-lost {
  color: var(--error-light);
}

.bet-profit-won {
  color: var(--ok-light);
}

.bet-profit-void {
  color: var(--warning-light);
}

.bet-profit-pending {
  color: var(--info-xxlight);
}

@media only screen and (max-width: 481px) {
  .bet-status-latest-text {
    display: none;
  }
}
