.dash-latestbets {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-row: 3 / 4;
  grid-column: 5 / 13;

  min-height: 10rem;
  /* height: max-content; */

  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 6px 12px;

  backdrop-filter: blur(4px);
  box-shadow: var(--shadow-s);

  &:hover {
    box-shadow: var(--shadow-l);
  }

  @media only screen and (max-width: 800px) {
    /* 8 grids */
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    width: 100%;
  }

  @media only screen and (max-width: 481px) {
    /* 4 grids */
    padding: 4px 8px;
    grid-row: 5 / 6;
    font-size: 0.925rem;
  }
}

.latest-headers,
.latest-bets {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.25fr 0.5fr 0.5fr 0.75fr;
  gap: 8px;

  border-bottom: 1px solid rgba(43, 43, 145, 0.8);
}

.latest-headers {
  padding: 6px 0;
  color: rgba(255, 255, 255, 0.703);
  color: var(--secondary-xlight);
  font-size: 0.925em;
}

.latest-bet-header-match {
  text-align: center;
}

.latest-bet-header-stake,
.latest-bet-header-odds,
.latest-bet-header-status,
.bet-stake,
.bet-odds,
.bet-status {
  text-align: right;
}

.latest-bets {
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  height: fit-content;

  font-size: 0.825rem;
  font-size: var(--font-xxsmall);

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:last-child {
    border: none;
  }
}

.bets-match {
  display: grid;
  grid-column: 2 / 3;
  grid-template-columns: 1fr max-content 1fr;
  gap: 8px;
  text-align: center;

  @media only screen and (max-width: 990px) {
    grid-column: 1 / 2;
  }
}

.parlay-div > p:is(:not(.bet-selection)) {
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10ch;
}

.bet-selection {
  border-radius: 4px;

  background-color: var(--info);
  padding: 4px;
  width: 15ch;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 990px) {
  .latest-headers,
  .latest-bets {
    grid-template-columns: 1.5fr 1.25fr 0.5fr 0.5fr 0.75fr;
  }

  .latest-bet-header-date,
  .latest-bet-data-date {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .latest-headers,
  .latest-bets {
    grid-template-columns: 1.25fr 0.5fr 0.5fr 0.75fr;
  }

  .latest-bet-header-match,
  .bets-match {
    display: none;
  }

  .latest-bet-header-selection {
    text-align: center;
  }

  .bet-selection {
    width: 20ch;
    overflow: hidden;
  }
}

@media only screen and (max-width: 481px) {
  .bet-selection {
    width: 15ch;
  }
}
