.tipper-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  padding: 8px 16px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  &:hover {
    box-shadow: var(--shadow-s);
  }
}
