.form-register {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.form-headers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  text-wrap: balance;
  width: 75%;

  & h3 {
    letter-spacing: 1px;
  }

  & h6 {
    font-size: 0.875rem;
    color: var(--neutral-100);
  }
}

.logo-headers {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.form-input-text {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 0.5rem;

  & input {
    border: 0.5px solid var(--primary-500);
  }
}

.oauth-buttons {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 75%;
  gap: 1rem;

  @media only screen and (max-width: 581px) {
    grid-template-columns: repeat(2, 1fr);
    & p {
      display: none;
    }
  }
}

.btn-oauth {
  border: thin solid var(--primary-500);
  border-radius: 8px;
  box-shadow: var(--shadow-s);
  width: 100%;
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover {
    background-color: var(--primary-900);
  }
}

.login-p {
  font-size: var(--font-smaller);
  text-wrap: balance;
  text-align: center;
}

.login-page {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 1fr;
  grid-template-rows: 1fr;

  background: radial-gradient(var(--primary-500), transparent);

  & > img {
    grid-column: 2;
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr;

    & > img {
      display: none;
    }
  }
}

.login-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.none-styles {
  border: none;
  font: inherit;
  transform: translateY(-0.25rem);
  padding-left: 4px;
  background-color: transparent;
}

.text-btn-styles {
  all: unset;
  cursor: pointer;
  color: var(--secondary-100);
  border-bottom: thin solid transparent;
  font-size: var(--font-smaller);
  align-self: flex-start;
  background-color: transparent;

  &:hover {
    color: var(--secondary-200);
    border-bottom: thin solid var(--secondary-200);
  }
}

.margin-top {
  margin-top: 1rem;
}
