.form-register {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  text-align: center;

  & button {
    margin-top: 1rem;
  }
}

.form-header {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 12px;
  width: 75%;
}

.form-input-text {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 0.5rem;

  & input {
    border: 0.5px solid var(--primary-500);
  }
}

.btn-oauth {
  border: thin solid var(--primary-500);
  border-radius: 8px;
  box-shadow: var(--shadow-s);
  width: 75%;
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover {
    background-color: var(--primary-900);
  }
}

.oauth-logo-absolute {
  position: absolute;
  left: 16px;
}

.login-p {
  font-size: var(--font-smaller);
}

.login-page {
  height: 100%;
  display: grid;
  place-items: center;
  padding: 32px 0;
}

.none-styles {
  border: none;
  font: inherit;
  transform: translateY(-0.25rem);
  padding-left: 4px;
  background-color: transparent;
}

.text-btn-styles {
  all: unset;
  cursor: pointer;
  color: var(--secondary-100);
  border-bottom: thin solid transparent;
  font-size: var(--font-smaller);
  align-self: flex-start;
  background-color: transparent;

  &:hover {
    color: var(--secondary-200);
    border-bottom: thin solid var(--secondary-200);
  }
}

.margin-top {
  margin-top: 1rem;
}
