.sidebar {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /* padding: 12px 24px; */

  z-index: 15;

  height: 100vh;
  /* min-width: 250px;
  width: calc(2 * 8.33%);
  max-width: 300px; */
  width: clamp(250px, calc(2 * 8.33%), 300px);

  border-right: 2px solid var(--primary-500);

  background-color: var(--primary-700);
  /* background-image: url("../../../assets/images/circle-bg3.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  /* box-shadow: 4px 0 8px hsla(330, 100%, 87%, 0.2); */

  & > * {
    margin: 12px 24px;
  }

  @media (width < 1180px) {
    position: fixed;
    /* left: -300px; */
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
  }
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-logo {
  padding-top: 2px;
  width: 100%;
  font-variant-caps: small-caps;
  padding-left: 24px;
  display: flex;
  gap: 0.5rem;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* gap: 24px; */
  width: 100%;

  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1rem;

  a {
    display: flex;
    align-items: center;

    padding: 12px 0;
    gap: 16px;
    padding-left: 24px;

    &:hover:not(.logout-button) {
      /* color: var(--primary); */
      background-color: var(--primary-500);
    }

    &:hover:is(.logout-button) {
      color: var(--error-base);
      background-color: var(--error-xlight);
    }
  }
}

.active-link {
  /* color: var(--primary-800); */
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 600;

  &:hover {
    color: var(--primary-dark) !important;
  }
}

.bottom-links {
  margin-top: auto;
  padding-bottom: 24px;
}

.logout-button {
  color: var(--error-xlight);
}

.sidebar-close {
  display: none;

  @media (width < 1180px) {
    display: block;
    position: absolute;
    right: -4px;
    background-color: var(--primary-900);

    border: 1px solid hsla(228, 100%, 81%, 0.5);
    border-radius: 4px;
    overflow: hidden;
    width: 40px;
    aspect-ratio: 1/1;

    box-shadow: 0 0 8px hsla(228, 100%, 81%, 0.2);
    transition: box-shadow 0.1s ease-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 16px hsla(228, 100%, 81%, 0.4);
    }
  }
}

.hamburger {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  background-color: transparent;
  cursor: pointer;
}
