nav {
  z-index: 5;
  width: 100%;

  backdrop-filter: blur(24px);

  box-shadow: 0 2px 4px hsla(330, 100%, 87%, 0.1);

  position: sticky;
  top: 0;
  left: 0;
}

.nav-links {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-login {
  button:first-child {
    margin-right: 1em;
  }
}
