.modifybet-container {
  margin-top: 8px;
}

.finish-modifybet-slip-headers,
.finish-modifybet-slip {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 0.25fr;
  gap: 8px;

  padding: 8px 0;
  color: var(--secondary-xlight);
  /* font-size: 0.925em; */
  align-items: center;

  border-bottom: 1px solid rgba(43, 43, 145, 0.8);
  text-transform: capitalize;
}

.modifybet-slip-match {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.modifybet-match,
.modifybet-slip-match {
  padding-left: 8px;
}

.modifybet-slip-selection .bet-selection {
  text-transform: none;
}

.modifybet-more,
.modifybet-slip-more {
  display: flex;
  justify-content: center;
}

.modifybet-edit:hover {
  cursor: pointer;
}

.finish-modifybet-slip {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: var(--font-smaller);
}

.modifybet-result-fields-betbuilder {
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modifybet-result-fields {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.modifybet-result-fields input,
.modifybet-result-fields-betbuilder input {
  width: 3rem;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 4px 6px;

  background-color: rgba(43, 98, 238, 0.5);

  text-align: center;
}

.modifybet-result-fields-betbuilder input {
  width: 6rem;
}
