.modifybet-container {
  margin-top: 8px;
}

.modifybet-container,
.modifybet-add-stake,
.finish-modifybet-slip,
.modifybet-slip-selection,
.bet-selection {
  overflow: visible !important;
}

.modifybet-odds {
  display: none;
}

.modifybet-match {
  padding-left: 8px;
}

.modifybet-more {
  display: flex;
  justify-content: center;
}

.modifybet-edit:hover {
  cursor: pointer;
}

.finish-modifybet-slip {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: var(--font-smaller);
}
