.bets-page {
  grid-row: 2;
  display: grid;
  background: radial-gradient(var(--primary-500), transparent);
  padding-bottom: 10rem;
}

.bets-filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  align-items: center;
  margin: 0 0 8px auto;
  width: 100%;

  @media screen and (max-width: 800px) {
    grid-template-columns: max-content 1fr max-content;

    & button {
      grid-row: 1/ 2;
      grid-column: 3 / 4;
    }
  }

  @media screen and (max-width: 581px) {
    grid-template-columns: max-content 1fr;
    margin-bottom: 1rem;

    & button {
      grid-row: 4 / 5;
      grid-column: 2 / 3;
    }
  }
}

/* Bets table */

.bets-table {
  /* padding-bottom: 240px; */
  font-size: var(--font-xsmall);
  background: var(--primary-800);
}

table {
  width: 100%;
  /* width: auto; */
  border-collapse: collapse;
  table-layout: auto;

  /* backdrop-filter: blur(8px); */
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
  box-shadow: var(--shadow-s);
}

tbody tr {
  &:nth-child(even) {
    background: rgba(0, 0, 0, 0.025);
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-700);
  }
}

th,
td {
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 8px 8px;
}

td {
  text-align: center;
  align-content: center;
  /* width: max-content; */
}

.show-more-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.show-more-buttons {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
/* .table-status {
  width: 6rem;
} */

.bet-won {
  color: hsla(141, 45%, 88%, 1);
}

.bet-lost {
  color: #f8d3d3;
}

.bet-void {
  color: hsla(37, 100%, 89%, 1);
}

.bet-pending {
  color: var(--primary-100);
}

@media only screen and (max-width: 1000px) {
  .bets-table {
    font-size: var(--font-xxsmall);
  }
  /* .table-header-type,
  .table-type,
  .table-header-sport,
  .table-sport {
    display: none;
  }

  .table-status {
    width: 3rem; */
  /* } */
}
