.gibberish-page {
  width: 100%;
  min-height: 100dvh;
  padding: 5rem 2rem;
  background: linear-gradient(
    to top,
    var(--primary-500) 0%,
    var(--primary-600) 30%,
    transparent 70%
  );
}

.gibberish-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;

  text-wrap: balance;
  /* text-align: center; */
  max-width: 600px;
}

.gibberish-text {
  line-height: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.centered-text {
  text-align: center;
}

.link-text {
  color: var(--accent-100);

  &:hover {
    color: var(--accent-200);
  }
}

.form-feedback {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 1rem;
  padding: 1rem;
  width: min(100%, 400px);
  gap: 1rem;
  /* background-color: rgba(0, 0, 0, 0.025); */
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.125),
    transparent,
    rgba(0, 0, 0, 0.125)
  );

  box-shadow:
    0 0.5rem 1rem rgba(0, 0, 0, 0.125),
    0 1rem 2rem rgba(0, 0, 0, 0.075),
    0 2rem 4rem rgba(0, 0, 0, 0.025);
}

.btn-group {
  display: flex;
  gap: 1rem;
  width: 100%;

  & > button {
    width: 100%;
  }

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
}

.feedback-success {
  border: 1px solid var(--ok-dark);
  margin-top: 0.5rem;
  font-size: 0.825rem;
  font-weight: 500;
  background-color: var(--ok-xxlight);
  outline: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.feedback-success-message {
  color: var(--ok-dark);
  text-align: center;
}

.input-error {
  border: 1px solid var(--error-base);
  margin-top: 0.5rem;
  font-size: 0.825rem;
  font-weight: 500;
  background-color: var(--error-xxlight);
  outline: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.input-error-message {
  color: var(--error-base);
  text-align: center;
}
