.main-normal {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr;
  height: 100%;

  @media only screen and (max-width: 581px) {
    /* 4 grids */
    grid-template-rows: 1fr;
  }
}

.main-logged {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
  height: 100%;

  position: relative;

  @media (width < 1180px) {
    grid-template-columns: 1fr;
  }
}

.main-dashboard {
  grid-column: 2;
  display: grid;
  grid-template-rows: 8vh minmax(92vh, 1fr) 8vh;
  height: auto;

  @media (width < 1180px) {
    grid-template-columns: 1fr;
    grid-column: 1;
  }
}
