.finish-modifybet-form {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  grid-auto-rows: auto;

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.finish-modifybet-buttons {
  display: flex;
  height: 2.5rem;
  gap: 16px;
  grid-row: 2 / 3;
  grid-column: 3 / 5;
  margin-bottom: 8px;

  @media screen and (max-width: 800px) {
    grid-row: 4/ 5;
    grid-column: 1 / 3;
  }
}

.modify-change {
  height: 2.5rem;

  @media screen and (max-width: 800px) {
    grid-column: 1 / -1;
  }
}

.bet-status-change-value-modify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    /* max-width: 5ch; */
  }
}

.bet-status-change-options-modify {
  position: absolute;
  top: 36px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(16px);

  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);

  width: 100%;
  min-width: max-content;
  z-index: 1;
}

.bet-status-options-list-modify {
  height: 2rem;

  & p {
    padding: 8px;
    gap: 8px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
