.error-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 8px;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.error-component-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  white-space: nowrap;
}
